@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');


/* =================================
*   intro
================================== */
.intro-wrap {
  display: flex; flex-direction: column;
  align-items: center; justify-content: center;
  width: 100vw; height: 100vh;
  background-color: #fff;
  overflow: hidden;
}


.intro-text {
  display: flex; flex-direction: column; justify-content: center; align-items: flex-start;
  max-width: 100%;
  margin-top: 50px; box-sizing: border-box;
  font-size: 34px; font-weight: 400; line-height: 1.43;
  color: #0095ac;

  h2 {
    display: block; margin-bottom: 20px;
    font-size: 50px; font-weight: 700;
    word-break: keep-all;

    .plus {
      vertical-align: super;
      line-height: 0;
    }

  }

  strong {
    font-weight: 700;
  }

  p {
    position: relative;
    margin-top: 10px;
    color: #111;
    overflow: hidden;
    word-break: keep-all;
  }

  em {
    position: relative;
    border-bottom: 1px solid #111;
    font-style: normal;
    color: rgb(17, 17, 17, 0.4);
    background: linear-gradient(to right, #aaa, #aaa) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 100%;
  }

  .skills {
    display: block;
    margin-top: 40px;
    color: #888; 

    strong {
      font-size: 20px;
    }

    p {
      width: 50%;
      font-size: 15px;
      word-break: break-word;
    }
  }

  .skill-category {
    & + .skill-category {
      margin-top: 20px;
    }
  }
}

.intro-btn-group {
  display: flex; flex-direction: row; justify-content: space-between; gap: 10px;
  width: 100%;
  margin-top: 80px;

  .btn {
    display: block; width: 50%; max-width: 240px;
    padding: 10px 20px; box-sizing: border-box;
    border: 3px solid #0095ac; border-radius: 999px;
    background-color: #0095ac;
    color: #fff; text-align: center;
    font-size: 20px;

    & + .btn {
      background-color: #fff;
      color: #0095ac;
    }
  }
}




@media (max-width: 1000px) {
  .intro-text {
    padding: 0 10vw;
    font-size: 3.5vw;

    h2 {
      font-size: 5vw;
    }
  }
}


@media (max-width: 500px) {
  .intro-text {
    padding: 0 40px;
    font-size: 16px;

    & > p {
      br {display: none; }
    }

    h2 {
      font-size: 24px;
    }
    .skills {
      margin-top: 20px;

      strong {
        font-size: 15px;
      }
      p {
        width: 80%;
        font-size: 13px;
      }
    }
  }

  .intro-btn-group {
    margin-top: 40px;
    .btn {
      padding: 10px 10px;
      font-size: 16px;
    }
  }
}







/* =================================
*   Main
================================== */
.btn-view{
	display: none;
  position: absolute;
	left: 50%; bottom: 22%;
	width: auto; max-width: 240px;
	transform: translateX(-50%);
  z-index: 100;
  touch-action: none;

  &:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#7c4500;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  a {
    display:block;
    position: relative;
    padding: 15px 25px;
    box-sizing: border-box;

    background-color:#FFA12B;
    font-family: 'Galmuri11', Apple SD Gothic Neo, 돋움, dotum, sans-serif; font-weight: 400; font-size: 20px;
    text-align: center; text-decoration:none;
    color:white; white-space: nowrap; 
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;


    &:active {
      top:10px;
      background-color:#F78900;
      
      -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
      -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
      box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    }
  }

}



@media (max-width: 500px) {
	.btn-view a {
		font-size: 16px;
	}
}

/* 인형뽑기 미니게임 버튼 (핑크) */
.btn-machine {
  display: none;
  position: absolute;
  left: 50%; bottom: 22%;
  width: auto; max-width: 280px;
  transform: translateX(-50%);
  z-index: 100;
  touch-action: none;

  &:after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: #8B3A62;
    border-radius: 5px;
  }

  button {
    display: block;
    position: relative;
    padding: 15px 25px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;

    background-color: #FF69B4;
    font-family: 'Galmuri11', Apple SD Gothic Neo, 돋움, dotum, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    white-space: nowrap;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    box-shadow: inset 0 1px 0 #FFB6C1, 0 10px 0 #C71585;
    border-radius: 5px;

    &:active {
      top: 10px;
      background-color: #FF1493;
      box-shadow: inset 0 1px 0 #FFB6C1, inset 0 -3px 0 #C71585;
    }
  }
}

@media (max-width: 500px) {
  .btn-machine button {
    font-size: 16px;
  }
}

/* floating-wrap */

.floating-wrap{
  position: absolute;
	right: 5%; bottom: 5%;
  z-index: 1;
  touch-action: none;
}

.floating-wrap button{
  display:block;
  position: relative;
  width: 50px; height: 50px;
  box-sizing: border-box;
  background-color:#fff;
  text-align: center; text-decoration:none; text-indent: -9999px;
  color:#fff;  

  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center center;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #b9fff5, 0 7px 0 #77dccd;
  -moz-box-shadow:inset 0 1px 0 #b9fff5, 0 7px 0 #77dccd;
  box-shadow:inset 0 1px 0 #b9fff5, 0 7px 0 #77dccd;
  
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  touch-action: none;
}

.floating-wrap button:active {
  top:7px;
  background-color:#c4e3dd;
  
  -webkit-box-shadow:inset 0 1px 0 #ffffff, inset 0 -2px 0 #74dbc7;
  -moz-box-shadow:inset inset 0 1px 0 #ffffff, inset 0 -2px 0 #74dbc7;
  box-shadow:inset 0 1px 0 #ffffff, inset 0 -2px 0 #74dbc7;
}

.floating-wrap:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-12px;
  left:-4px;
  z-index:-1;
  background-color:#51baa5;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}