@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#three-canvas2:hover {
  cursor : url('../images/mouse_link.png') 20 20, auto;
}


.portfolio {
  position: relative;
  width: 100%; max-width: 100vw;
  min-height: 100vh; min-height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  background: linear-gradient(#07033e, #5d53d0 40%, #b29bd6 50%);

	.intro {
		position: relative;
		width: 100%; height: 100vh;
		// overflow: hidden;
    z-index: 2;

		&::after {
			content: "";
			position: absolute; bottom: 0; left: 50%;
			width: 100%; max-width: 300px; height: 300px;
			border-radius: 9999px; border: 1px solid rgb(255 255 255 / 10%);
			box-shadow: 0 0 15px 3px #fbed96;
			background: linear-gradient(to bottom, #fff2e9 0%, #ffcc63 100%);
			transform: translate(-50%, 50%);
		}
	}
	
}



.message-wrap {
  display: none; 
  position: absolute; left: 50%; bottom: 350px;

  transform: translateX(-50%);
  z-index: 1;

}


.message {
  position: relative;
  width: fit-content;
  margin: 0 auto; padding: 25px 40px; box-sizing: border-box;
  background-color: rgb(255 255 255 / 20%); 
	border-radius: 20px;
  font-family: 'Galmuri11', Apple SD Gothic Neo, 돋움, dotum, sans-serif;
	font-size: 15px; color: #fff;
  transition: all 0.3s;

  span {
    font-family: inherit;
  }

  &:after {
    content: '';
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-top-color: rgb(255 255 255 / 20%);
    border-bottom: 0;
    border-left: 0;
    margin-left: -8px;
    margin-bottom: -16px;
  }

  &:nth-last-child(1):after {
    display: block;
  }

  &.on:hover {
    cursor : url('../images/mouse_link.png') 20 20, auto;
  }

  &.on span:after {
    content: "▼";
    margin-left: 10px; 
    font-size: 10px; color: #fff;
    -webkit-animation: blink-effect 1s step-end infinite;
    animation: blink-effect 1s step-end infinite;
  }

  & + & {
    margin-top: 15px;
  }
  
}

.star {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  
  &:after {
  content:"⭐";
  font-size: 40px;
  -webkit-animation: blink-effect 2s ease-in-out infinite;
  animation: blink-effect 2s ease-in-out infinite;
  transition-duration: 2s;
}

}



@-webkit-keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}


.scroll-text {
  p {
    position: absolute; left: 50%; bottom: 0;
    font-size: 100px; font-family: "Bebas Neue", sans-serif; font-weight: 400;
    color: #fff; white-space: nowrap;
    transform: translateX(-50%); transition: all 3s;
    z-index: 0;
    opacity: 0; visibility: hidden;
  }

  &.on p {
    bottom: 20%;
    opacity: 0.5;
    visibility: visible;
  }
}


@media (max-width: 768px) {

  .message {
    padding: 20px 30px;
    font-size: 15px;

    & + & {
      margin-top: 10px;
    }
  }

  .scroll-text {
    p {
      font-size: 88px;
    }
  }
}


@media (max-width: 500px) {
  .message-wrap {
    bottom: 38%;
  }

  .message {
    padding: 15px 20px;
    font-size: 12px;
    white-space: nowrap;

    // & + & {
    //   margin-top: 5px;
    // }
  }

  .scroll-text {
    p {
      font-size: 70px;
    }

    &.on p {
      bottom: 26%;
    }
  }

}




/* =======================================================
  star
========================================================*/

@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
	}

  @return unquote($value)
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);


.stars-wrap {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100vh;
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  -webkit-animation: animStar 50s linear infinite;
  animation: animStar 50s linear infinite;
    
  &::after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
	}
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  -webkit-animation: animStar 100s linear infinite;
  animation: animStar 100s linear infinite;
    
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
	}
}


#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  -webkit-animation: animStar 150s linear infinite;
  animation: animStar 150s linear infinite;
    
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
	}
}

@-webkit-keyframes animStar {
	from {	
		transform: translateY(0px);
	} to {
		transform: translateY(-2000px);
	}
}

@keyframes animStar {
	from {	
		transform: translateY(0px);
	} to {
		transform: translateY(-2000px);
	}
}










/* =======================================================
  project
========================================================*/
#star-scroll {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  z-index: -1;

  .st0 {
    fill: none;
    opacity: 0.6;
  }

}

#motionSVG {

  .cls-1 {
    fill: #f3ce46;
  }

  .cls-2 {
    fill: #6c5625;
  }

}

#star01 {
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));

  .left {
    -webkit-animation: starLeft 1s linear infinite;
    animation: starLeft 1s linear infinite;
  }
  .right {
    -webkit-animation: starRight 1s linear infinite;
    animation: starRight 1s linear infinite;
  }
}


@-webkit-keyframes starLeft {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  } 50% {
    transform: translate(-4px, 6px) rotate(-14deg);
  } 100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes starLeft {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  } 50% {
    transform: translate(-4px, 6px) rotate(-14deg);
  } 100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}


@-webkit-keyframes starRight {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  } 50% {
    transform: translate(7px, -10px) rotate(13deg);
  } 100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes starRight {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  } 50% {
    transform: translate(7px, -10px) rotate(13deg);
  } 100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}



.project {
  position: relative;
  z-index: 1;

  .title {
    display: block;
    position: absolute;
    top: 5%;
    left: 5%;
    writing-mode: vertical-lr;
    font-family: "Galmuri14", Apple SD Gothic Neo, 돋움, dotum, sans-serif;
    font-size: 40px;
    color: #fff;
  }
  
}

.project-group {
  position: relative;
  width: 100%; height: 100%;
  margin: 0 auto;
  padding: 30vw 40px 20vw; box-sizing: border-box;
  
}


.project-item {
  width: 1000px;
  width: 50vw;
  max-width: 500px;
  margin: 0 auto 30vw;
  /* background-color: rgba(255,255,255,0.3); */
  text-align: left;
  margin-right: 10vw;
  position: relative;
  padding-top: 15vw;
  color: #fff;

  & > a {
    position: relative;
  }

  &:nth-child(even) {
    margin-left: 10vw;
    margin-right: 0;
    text-align: right;
  }


  &:nth-child(even) .project-imgwrap {
    &::before,
    &::after {
      transform: skew(54deg);
      left: auto; right: -15%;
    }
  }

  .project-type {
    display: inline-block;
    padding: 5px 10px; box-sizing: border-box;
    border: 1px solid #eee; border-radius: 999px;
    font-size: 14px; font-weight: 400;
  }

}

.project-imgwrap {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 999%;
  box-shadow: 
  inset 25px 40px 100px 0px rgba(255, 255, 255, .45), 
  -50px -50px 150px 0px rgb(206 182 244 / 35%),
  -25px -55px 150px 0px rgb(143 167 226 / 40%), 
  0 0 150px 100px rgb(68 121 147 / 40%);
  background: #000;

  &::before,
  &::after {
    content: "";
    width: 120%;
    height: 50%;
    border-radius: 50%;
    border: 40px solid rgba(248, 197, 77, 0.8);
    position: absolute;
    top: 15%;
    left: -20%;
    transform: skew(-54deg);
    z-index: 3;
    clip-path: inset(50% 0 0 0);
  }

  &::after {
    z-index: -1;
    clip-path: inset(0 0 50% 0);
  }

}

.project-img {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  border-radius: 999%;
  box-shadow: inset 10px 0px 12px -2px rgba(255, 255, 255, 0.2), 
  inset -70px 0px 50px 0px #071d3a, 
  -5px 0px 10px -4px #7195c6;
  background-repeat: repeat-x;
  background-position: center center;
  background-size: cover;
  transition: all 1s;
  overflow: hidden;
  -webkit-animation: imgRotate 12s linear infinite;
  animation: imgRotate 12s linear infinite;
  rotate: -10deg;
}

@-webkit-keyframes imgRotate {
  0% {
    background-position: 0% center;
  } 
  100% {
    background-position: 230% center;
  }
}

@keyframes imgRotate {
  0% {
    background-position: 0% center;
  } 
  100% {
    background-position: 230% center;
  }
}


#section1 {
  .project-img {
    background-image: url('../images/project/hyundai.png');
  }
}

#section2 {
  .project-imgwrap {
    &:before,
    &:after {
      border-color: rgba(199, 15, 40, 0.6); 
    }
  }
  .project-img {
    background-image: url('../images/project/kplus.png');
  }
  .project-title {
    color: #222;
  }
}

#section3 {
  .project-imgwrap {
    &:before,
    &:after {
      border-color: rgba(0, 155, 180, 0.6); 
    }
  }
  .project-img {
    background-image: url('../images/project/lsgpis.png');
  }
  .project-title {
    color: #28394b;
  }
}



.project-title {
  position: absolute;
  top: 50%; left: -100%;
  width: 100%;
  margin-top: -2vw; margin-left: -16vw;
  text-align: right; font-size: 32px; line-height: 1.4; color: #fff;
  word-break: keep-all; white-space: nowrap;
  z-index: 100;
  
  & > b {
    display: block;
    margin: 10px 0;
    font-size: 56px;
  }
}

.project-item:nth-child(even) {
  .project-title {
    left: 0;
    margin-left: 18vw;
    margin-right: 0;
    text-align: left;
  }
  .project-img {
    box-shadow: inset -10px 0px 12px -2px rgba(255, 255, 255, 0.2), 
    inset 70px 0px 50px 0px #111111, 
    5px 0px 10px -4px #7195c6;
    rotate: 10deg;
  }
}

#section4 .project-title {
  color: #111;
}




@media (max-width: 1400px) {
  .project-item {
    max-width: 400px;
    margin-right: 2vw;

    &:nth-child(even) {
      margin-right: 0;
      margin-left: 4vw;
    }

    .project-imgwrap {
      &::before,
      &::after {
        border-width: 28px;
      }
    }
  }
}


@media (max-width: 1000px) {

  .project {
    .title {
      font-size: 5vw;
    }
  }
  
  .project-img {
    box-shadow: inset 17px 20px 100px 20px rgba(0, 0, 0, 0.4);
  }

  .project-title {
    position: static;
    margin-top: 8vw;
    font-size: 6vw;

    & > b {
      font-size: 8vw;
    }
  }

  #star-scroll {
    left: -20vw;
  }

}



@media (max-width: 500px) {

  .project-item {
    width: 50vw;
    margin-bottom: 60vw;
    margin-right: 5vw;

    &:nth-child(even) {
      margin-right: 0;
      margin-left: 5vw;
    }

    .project-imgwrap {
      &::before,
      &::after {
        border-width: 24px;
      }
    }
  }

  .project-title {
    margin-top: 5vw;
    font-size: 6vw;
  }

  .project-group {
    padding: 80vw 40px 20vw;
  }

  .project-type {
    font-size: 13px;
  }

  #star-scroll {
    left: -50vw;
  }



}





/* =======================================================
  side project
========================================================*/
.side-project {
  position: relative;
  width: 100%; min-height: 100vh;
  margin: -15vw auto 0; padding: 15vw 0 0; box-sizing: border-box;
  background-color: #27282e;
  color: #fff;
  z-index: -3;
  
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -16%;
    width: 100%;
    height: 30%;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    box-shadow: 0px -60px 150px 0px #f5c5db;
    rotate: 180deg;
    background: linear-gradient(#fff4f5, #dfb1e2 40%, #bfa3d7 80%);
    z-index: -2;
  }

  .title {
    position: relative;
    margin-top: 50px;
    writing-mode: unset;
    font-size: 24px;
  }

  .tip-wrap {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    z-index: 1;

    .icon-tip {
      display: block;
      width: 16px; height: 16px;
      margin-left: 10px;
      border: 2px solid #fff; border-radius: 999px;
      background-color: rgba(255, 255, 255, 0.2);
      font-style: normal; font-size: 12px;
      text-align: center; line-height: 16px;
    }

    .tooltip {
      display: none;
      position: absolute;
      top: 100%; left: 0;
      padding-top: 10px;

      .text {
        display: flex; align-items: center; justify-content: space-between;
        width: 300px; max-width: calc(100vw - 120px);
        border-radius: 10px;
        padding: 10px 10px; box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.2);
        font-size: 14px; line-height: 1.43;

        strong {
          color: #0095ac;
        }

        .tip-close {
          display: none;
          position: relative;
          width: 30px; height: 30px;

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%; left: 50%;
            width: 2px; height: 14px;
            background-color: #fff;
            transform: translate(-50%, -50%) rotate(45deg);
          }
          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%; left: 50%;
            width: 2px; height: 14px;
            background-color: #fff;
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }

      }

      &:hover {
        display: block;
      }
    }

    &:hover {
      .tooltip {
        display: block;
      }
    }

  }

}

/* side-project list */
.side-project-list {
  display: flex; flex-direction: column; justify-content: center;
  width: 100%; height: 100%; max-width: 1800px; min-height: calc(100vh - 60px);
  margin: 0 auto;

  .slick-list{
    overflow: visible;
  }

  .slick-prev,
  .slick-next {
    display: block;
    top: 15vw;
    width: 40px; height: 40px;
    border: 1px solid #fff; border-radius: 999px;
    background-color: #000;
    z-index: 1;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%; left: 50%;
      width: 2px; height: 8px;
      margin-top: -2px; margin-left: -4px;
      background-color: #fff;
      transform: translate(-50%, -50%);
      rotate: 45deg;
      opacity: 1;
    }

    &::after {
      margin-top: 1px; margin-left: 2px;
      rotate: -45deg;
    }

    &:hover,
    &:focus {
      background-color: #27282e;
    }
  }

  .slick-prev {
    left: calc(150px + 24vw);
  }

  .slick-next {
    right: calc(150px + 24vw);

    &::before {
      margin-top: -4px; margin-left: 3px; 
      rotate: -45deg;
    }
    &::after {
      margin-top: 2px; margin-left: -3px;
      rotate: 45deg;
    }
  }

}




.side-project-item {
  display: block;
  width: 100%; height: 100%;
  padding: 0 30px; box-sizing: border-box;
  // background-color: #555;
  // text-align: center;
}

.side-project-planet {
  padding: 30px 30px;
  border-radius: 999%;
  transition: all 3s;
}

.side-project-imgwrap {
  position: relative;
  display: block;
  width: 80%;
  margin: 0 auto; padding-bottom: 80%;
  border-radius: 999%;
  // box-shadow: inset 9px 14px 12px 0px rgba(255, 255, 255, 0.45), 
  // -6px -5px 17px 0px rgba(206, 182, 244, 0.35), 
  // -4px -9px 17px 0px rgba(143, 167, 226, 0.4), 
  // 0 0 20px 0px rgba(68, 121, 147, 0.4);
  background: #eee;
  overflow: hidden;
  opacity: 0.4;
}

.side-project-img {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  border-radius: 999%;
  box-shadow: inset 10px 0px 12px -2px rgba(255, 255, 255, 0.2), 
  inset -28px -23px 50px 0px #071d3a, 
  -5px 0px 10px -4px #7195c6;
  background-repeat: repeat-x;
  background-position: center center;
  background-size: cover;
  transition: all 1s;
  overflow: hidden;
}


#sub01 .side-project-img {background-image: url('../images/project/portfolio.png'); }
#sub02 .side-project-img {background-image: url('../images/project/dubuck.png'); }
#sub03 .side-project-img {background-image: url('../images/project/admin.png'); }
#sub04 .side-project-img {background-image: url('../images/project/callct.png'); }
#sub05 .side-project-img {background-image: url('../images/project/lms.png'); }
#sub06 .side-project-img {background-image: url('../images/project/lslpl.png'); }
#sub07 .side-project-img {background-image: url('../images/project/editodo.png'); }



.side-project-info {
  text-align: center;

  & * {
    font-family: "Galmuri14", Apple SD Gothic Neo, 돋움, dotum, sans-serif;
    word-break: keep-all;
  }

  .name {
    display: block;
    font-family: "Galmuri14", Apple SD Gothic Neo, 돋움, dotum, sans-serif;
    font-size: 16px;
  }

  dl {
    display: flex; justify-content: space-between; align-items: flex-end; gap: 10px;
    position: relative;
    width: 80%; margin: 20px auto; opacity: 0;

    &::before {
      content: "";
      position: absolute;
      left: 0; bottom: -5px;
      width: 100%; height: 1px;
      border-bottom: 1px dashed rgba(255, 255, 255, .2);
    }
  }

}


/* show */
.slick-active {
  .side-project-item {
    padding: 20px 30px;
  }

  .side-project-imgwrap {
    width: 90%; padding-bottom: 90%;
    opacity: 0.6;
  }
  
}


.slick-current {
  .side-project-item {
    padding: 40px 20px;
  }

  .side-project-planet {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 999%;
    scale: 1.2;
  }

  .side-project-imgwrap {
    width: 100%; padding-bottom: calc(100% - 4px);
    border: 4px solid #fff; box-sizing: border-box;
    opacity: 1;
  }

  .side-project-info {
    margin-top: 80px;

    .name {margin-bottom: 40px; font-size: 34px; }
    dl {font-size: 16px; opacity: 1; }
  }
}




@-webkit-keyframes wave {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

@keyframes wave {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}



@media (min-width: 1920px) {
  .side-project-list {
    .slick-prev {
      top: 290px;
      left: 50%;
      margin-left: -295px;
    }
    .slick-next {
      top: 290px;
      right: 50%;
      margin-right: -295px;
    }
  }
}




@media (max-width: 1300px) {
  .side-project-list {

    .slick-prev {
      left: calc(150px + 22.5vw);
    }
    .slick-next {
      right: calc(150px + 22.5vw);
    }
  }

}


@media (max-width: 1000px) {
  .side-project {
    margin: -23vw auto 0; 

    .title {
      margin-top: 15vw;
    }
  }

  .side-project-list {

    .slick-prev {
      top: 20vw;
      left: 30%;
    }
    .slick-next {
      top: 20vw;
      right: 30%;
    }
  }

  .side-project-info {
    dl {
      justify-content: center;

      dt {display: none; }
    }
  }
}

@media (max-width: 768px) {
  .side-project-list {

    .slick-prev {
      top: 35vw;
      left: 110px;
    }
    .slick-next {
      top: 35vw;
      right: 110px;
    }
  }

}

@media (max-width: 600px) {
  .side-project-list {

    .slick-prev {
      top: 30vw;
      left: calc(110px + 4vw);
    }
    .slick-next {
      top: 30vw;
      right: calc(110px + 4vw);
    }
  }

}


@media (max-width: 500px) {
  .side-project {
    margin: -35vw auto 0; 
    
    &::before {
      border-top-right-radius: 30%;
      border-top-left-radius: 30%;
    }

    .more-line .text span {
      height: 60px;
      font-size: 24px;
    }

    .title {
      margin-top: 25vw;
      font-size: 5vw;
    }
  }

  .side-project-list {

    .slick-prev {
      top: 40vw;
      left: 60px;
    }
    .slick-next {
      top: 40vw;
      right: 60px;
    }
  }

  .side-project-info {
    margin-top: 60px;
    .name {font-size: 14px; }
    
  }
  .slick-current {
    .side-project-item {
      padding: 40px 0;
    }
    .side-project-info {
      .name {font-size: 22px; }
      dl {width: 100%; font-size: 13px; }
    }
  }

}

@media (max-width: 400px) {
  .side-project-list {

    .slick-prev {
      top: 50vw;
      left: 20px;
    }
    .slick-next {
      top: 50vw;
      right: 20px;
    }
  }

  .slick-current {
    .side-project-item {
      padding: 40px 20px;
    }
  }

}



/* =======================================================
  project - detail
========================================================*/
.project-top {
  position: relative;
  width: 100%; height: 100vh;
  box-sizing: border-box;
  overflow: hidden;

  h2 {
    position: absolute;
    top: 50%; left: 50%;
    font-size: 50px; font-weight: 700;
    color: #fff;
    z-index: 3;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  .project-topimg {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;

    &::before {
      content: "";
      display: block;
      position: absolute; top: 0; left: 0;
      width: 100%; height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 1;
    }

    img {
      display: block;
      position: absolute;
      top: 50%; left: 50%;
      width: 100%; height: 100%; object-fit: cover;
      transform: translate(-50%, -50%);
    }
  }

}


.project-wrap {
  .sub-title {
    display: block;
    margin-bottom: 5vw;
    font-size: 24px; font-weight: 700;
    line-height: 1.43;

    &.center {
      text-align: center;
    }

    &.line {
      font-weight: 900;
      -webkit-text-stroke: 0.5px #fff;
    }

    &.white {
      color: #fff;
    }
  }


  &.hyundai {background-color: #c8d4e2; }
  &.kplus {background-color: #bbb; }
  &.lsgpis {background-color: #e8cdcd;}
  
  &.portfoliov2 {background-color: #88c6cf; }
  &.dubuck {background-color: #ffc3a1; }
  &.editodo {background-color: #cae1e3; }
  &.admin {background-color: #acbfd7; }
  &.callct {background-color: #f1e4cf; }
  &.lms {background-color: #dfdfda; }
  &.lslpl {background-color: #d0d4e0; }

  
}



.area-one {
  display: block;
  width: 100%;
  padding: 10vw 12vw;
  box-sizing: border-box;

  & + & {
    padding-top: 0;
  }

  .title {
    font-size: 32px;
    word-break: keep-all;

    & + .dl-info {
      margin-top: 20px;
    }

    &.white {
      color: #fff;
    }

  }

  img,
  video {
    display: block; width: 100%;

    & + img {
      margin-top: 10px;
    }

    & + .dl-info {
      margin-top: 10px;
    }
  }

  hr {margin: 20px 0; }

}



/* area-full */
.area-full {
  display: block;
  width: 100%;

  img {
    display: block; width: 100%;
  }
}

/* area-half */
.area-half {
  display: flex; gap: 60px;

  & > * {
    width: 50%;
  }
}


/* dl-info */
.dl-info {
  dl {
    line-height: 1.43;

    dt {
      display: block;
      width: 100%;
      margin-bottom: 5px;
      font-size: 16px;
      color: #666;
    }
    dd {
      font-size: 14px;
      color: #111;
      word-break: keep-all;
    }

    & + dl {
      margin-top: 10px; padding-top: 10px;
      border-top: 1px dashed #c7c8c9;
      box-sizing: border-box;
    }

    &.white {
      dt {color: #aaa; }
      dd {color: #eee; }
    }

    .area-half {
      gap: 10px;
      img {margin: 10px 0; }
    }
  }
}

.btn-goto {
  display: block;
  width: 90vw; max-width: 200px;
  margin-top: 40px;
  padding: 10px 20px; box-sizing: border-box;
  border: 1px solid #111; border-radius: 999px;
  font-size: 16px; text-align: center;
  
  &:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.3s;
  }
}

.description {
  line-height: 1.43;

  strong {
    display: block;
    margin: 5px 0;
    font-size: 16px;
    color: #666;
  }
  p {
    font-size: 15px;
    word-break: keep-all;
  }

  & + & {
    margin-top: 40px;
  }

  &.white {
    strong {color: #aaa; }
    p {color: #fff; }
  }

}



.list {
  li {
    position: relative;
    padding-left: 10px;
    &::before {
      content: "-";
      position: absolute;
      top: 0; left: 0;
    }

    & + li {
      margin-top: 5px;
    }
  }
}

.img-wrap {
  display: flex; flex-direction: column;
  gap: 5vw;

  img {
    border: 1px solid #888;
  }
}



.hd-bghalf {
  background: linear-gradient(#012b5d 40%, #ddd 10%);
}

.kp-bghalf {
  background: linear-gradient(transparent 40%, #111 10%);

  & + .img-wrap {
    padding-top: 10vw;
  }
}

.ls-bghalf {
  background: linear-gradient(#ffffff 60%, #28394b 10%);
}

.pf-bghalf {
  background: linear-gradient(#ffffff 44%, #e5edef 10%);
}



@media (max-width: 500px) {

  .project-top h2 {font-size: 35px; }

  .area-one {
    padding: 16vw 6vw;
  }

  .area-half {
    flex-direction: column;
    & > * {
      width: 100%;
    }
  }
}

