@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

/* =================================
*   guide
================================== */
.guide-text {
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  width: 90%; max-width: 350px;
  padding: 40px 30px; box-sizing: border-box;
  box-shadow: 2px 2px 17px #00000045;
  background-color: #0095ac;
  text-align: center; color: #fff; line-height: 1.43;
  transform: translate(-54%, -45%);
  rotate: 5deg;
  z-index: 2;


  &::before {
    content: "";
    position: absolute;
    top: -20px; left: 50%;
    width: 150px; height: 40px;
    border: 3px dotted rgba(64, 76, 80, 0.5);
    border-top: 0; border-bottom: 0;
    box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateX(-50%);
    mix-blend-mode: hard-light;
  }

  &.small {
    max-width: 240px;
    padding: 40px 10px 20px;
    font-size: 14px;

    &::before {
      width: 90px;
    }
  }

}


#guide {
  display: block;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 10;

  .dim {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(40, 61, 71, 0.8);
    z-index: 1;
  }

  p {
    font-size: 24px;

    b {
      font-family: 'Galmuri14', Apple SD Gothic Neo, 돋움, dotum, sans-serif;
      font-weight: bolder;
    }

    em {
      font-family: 'Galmuri14', Apple SD Gothic Neo, 돋움, dotum, sans-serif;
      font-style: normal;
    }
  }

  .guide-pc-hint {
    margin-top: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.5;
  }

  button {
    display: block;
    width: 80%;
    margin: 30px auto 0;
    padding: 12px 24px; box-sizing: border-box;
    border-radius: 999px;
    background-color: #fff;
    font-size: 30px; font-weight: 700;
    color: #0095ac;
  }


}


#guide .check-group {
  display: inline-block;
  position: relative;
  margin-top: 20px;

  input {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip-path: polygon(0 0, 0 0, 0 0);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  label {
    padding-left: 24px;
    font-size: 15px;
    font-family: 'Galmuri14', Apple SD Gothic Neo, 돋움, dotum, sans-serif;
    vertical-align: middle;

    &:before {
      content: '';
      position: absolute;
      top: 50%; left: 0;
      width: 12px; height: 12px;
      border: 1px solid #fff;
      background-color: rgba(255, 255, 255, 0.2);
      transform: translateY(-50%);
    }

    &:hover {
      font-weight: bolder;

      &:before {
        border-width: 2px;
        border-color: #fff;
      }
    }
  }

  & + p {
    margin-top: 5px;
    font-size: 14px; color: #fff;
  }

  input:checked {
    & + label {

      &:before {
        border-width: 2px;
        border-color: #fff;
        background-color: #fff;
      }

      &:after {
        content: '';
        position: absolute;
        top: 5px; left: 5px;
        width: 4px; height: 8px;
        border-right: 3px solid #0095ac;
        border-bottom: 3px solid #0095ac;
        transform: rotate(45deg);
      }
    }

  }
}

/* 모바일에서 PC 힌트 숨김 */
@media (max-width: 768px) {
  #guide .guide-pc-hint {
    display: none;
  }
}

@media (max-width: 500px) {
  #guide {
    p {
      font-size: 20px;
    }
  }
}
