::selection {
	background-color: black;
	color: #0095ac;
}


#three-canvas,
#three-canvas2 {
	touch-action: none;
}

#three-canvas {position: fixed; left: 0; top: 0; }
#three-canvas2 {position: fixed; left: 50%; bottom: 0; width: 200px; height: 300px; transform: translateX(-50%); }


#myAudio {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip-path: polygon(0 0, 0 0, 0 0);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}




@media (max-width: 500px) {

	#three-canvas2 {transform: translateX(-50%) scale(0.8); transform-origin: bottom; }

}